
html,
body {
    margin: 0;
    overflow: scroll;
    height: 100%;
    background-color: rgb(255, 251, 239);
}

@font-face {
    font-family: "bc-falster";
    src: url(../font/bc-falster-grotesk-regular.otf) format("truetype");
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}

#canvas2 {
    width: 100%;
}


h1 {
    position:absolute;
    font-family: "bc-falster";
    font-size: 60px;
}

h3 {
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 0.9rem;
    margin-top: 0.2rem;

}

h5 {
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}

h6 {
    font-family: "bc-falster";
    font-size: 4.2rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

h7 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 0.8rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    line-height: 0.7rem;
    color: rgb(161, 161, 161);
    font-style: italic;
}

hr {
    border: none;
    border-top: 1px solid black;
}

.mainText {
    margin-left:20%;
    margin-top:30%;
    position:absolute;
    color: red;
}

#mainLogo {
    pointer-events: none;
    position: absolute;
    width: 42rem;
    margin-left: 5%;
    margin-top: 8%;
    transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
}

#logo {
	text-align: center;
    transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.external-link {
    width: 8%;
    margin-left: 0.15rem;
    margin-bottom: 0.2rem;
}

.external-link-med {
    width: 5%;
    margin-left: 0.2rem;
    margin-bottom: 0.02rem;
}

.external-link-small {
    width: 3%;
    margin-left: 0.2rem;
    margin-bottom: 0.02rem;
}



.nav-second {
    margin-top: 270px;
    position:relative;
    color:black;
    width: 220px;
}

.nav-item {
    margin-top: 0.2rem;
}

#navList {
    list-style: none;
}

#navList-small {
    list-style: none;
}

#navList-horizontal {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.8px;
    overflow: auto;
}


#navList-horizontal a {
    float: left;
    margin-left: 7%;
    padding: 12px;
    text-decoration: none;
    font-size: 1rem;
    width: 4%; /* Six links of equal widths */
    text-align: center;
  }

  .content {
    margin: 3rem;

}

.main-subtext {
    font-family: "bc-falster";
    pointer-events: none;
    position: absolute;
    top: 85%;
    left: 5%;
    font-size: 1.6rem;
    word-wrap: break-word;
    margin-right: 8rem;

}


.instructionText {
    position: absolute;
    bottom: 0.1%;
    top: 4rem;
}

/* GRID: SPEAKERS */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: none;
    padding: 10px;
}
.grid-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem !important;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

img {
    width: 7.5rem;
    align-content: center;
}

/* GRID: SPONSORS */

.grid-container-sponsor-t1 {
    display: grid;
    grid-template-columns: auto auto;
    background-color: none;
    padding: 10px;
    justify-content: space-around;
}

.grid-container-sponsor-t4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-container-sponsor {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: none;
    padding: 10px;
}

.sponsor-t1 {
    width: 18rem;
}



/* LINKS */

/* unvisited link */
a:link {
    color: red;
    text-decoration: none;
  }

/* visited link */
a:visited {
    color: blue;
    text-decoration: none;

  }

/* mouse over link */
a:hover {
    color: red;
    text-decoration: none;

  }

/* selected link */
a:active {
    color: red;
    text-decoration: none;

  }

/* media queries */

  .nav {
    -webkit-transition: left 0.1s ease;
    -moz-transition: left 0.1s ease;
    -ms-transition: left 0.1s ease;
    -o-transition: left 0.1s ease;
    transition: left 0.1s ease;
    background: lightgrey;
    color: black;
    cursor: pointer;
    height: 100vh;
    /* this -26rem might be a bit hacky */
    right: -22rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 17rem;
    z-index: 1;
    transition: 0.8s;
  }

  .nav.expanded { 
      right: 0; 
      transition: 0.8s;
      
  }

  .nav ul {
    position: absolute;
    top: 35%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
   
  }

  .nav-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 1rem;
    right: 1rem;
    position: fixed;
    top: 2rem;
    width: 2rem;
    z-index: 2;
    
  }

  .nav-toggle:hover { opacity: 0.9; }

  .nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    background: black;
    content: '';
    height: 0.2rem;
    width: 100%;
  }

  .nav-toggle .nav-toggle-bar { margin-top: 0; }

  .nav-toggle .nav-toggle-bar::after { margin-top: 0.8rem; }

  .nav-toggle .nav-toggle-bar::before { margin-top: -0.8rem; }

  .nav-toggle.expanded .nav-toggle-bar { background: transparent; }

  .nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background: black;
    margin-top: 0;
    
  }

  .nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

@media only screen and (max-width: 850px) {
    .grid-container, .grid-container-sponsor, .grid-container-sponsor-t1, .grid-container-sponsor-t4 {
        grid-template-columns: auto auto;
    }
    img {
        padding-right: 0 !important;
    }
}

@media only screen and (max-width: 700px) {
    .nav-big {
      display: none;
    }
    #mainLogo {
        width: 90%;
    }
    .main-subtext {
        top: 80%;
        left: 5%;
        width: 350px;
        word-wrap: break-word;
    }
    .grid-container, .grid-container-sponsor, .grid-container-sponsor-t1, .grid-container-sponsor-t4 {
        grid-template-columns: auto;
    }
    img {
        padding-right: 0 !important;
    }
}
    

@media only screen and (max-width: 700px) {
    #navList-horizontal {
      display: none;
    }
    #mainLogo {
        width: 90%;
    }
}

@media only screen and (min-width: 701px) {
    .nav-mobile {
      display: none;
    }
    
}

  @media only screen and (min-width: 701px) {
  .nav-big {
    margin-left: 80%;
    margin-right: 20%;
    margin-top: 70px;
    position:absolute;
    color:black;
    }
}
